<div class="container-fluid">
    <div class="row" style="height: 10vh">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row" style="height: 10vh">
        <div class="col-md-12 d-flex justify-content-center">


        </div>
    </div>
    <div class="row" style="height: 10vh">
        <div class="col-md-12 d-flex justify-content-center">
    
        <%# <%= form_tag "/intervention", method: 'post' do %> 
        <%= form_with model: @intervention do |f| %>
            <%= label_tag("Customer Infos") %>
                <%= f.select(:customer, Customer.all.collect {|c| [c.contact_full_name + " - " + c.business_name, c.id]},  {prompt: "Select Customer"}, {class: 'form-control'}) %>
                <%= f.select(:address, Address.all.collect {|a| [a.street_number_name, a.id]}, {}, {class: 'form-control'}) %>
                <%= f.select(:battery, Battery.all.collect {|b| [b.id, b.id]}, {}, {class: 'form-control'}) %>
                <%= f.select(:column, Column.all.collect {|col| [col.id, col.id]}, {}, {class: 'form-control'}) %>
                <%= f.select(:elevator, Elevator.all.collect {|e| [e.id, e.id]}, {}, {class: 'form-control'}) %>

            <%= label_tag("Employee") %>
                <%= f.select(:employee, Employee.all.collect {|e| [e.firstName + " " + e.lastName, e.id]},  {prompt: "Select Employee"}, {class: 'form-control'}) %>

            <%= label_tag("Description") %>
                <%= text_field_tag 'description', nil, placeholder: "Description" %><br>

            <%# BUTTON SUBMIT %>
            <input class="btn btn-outline-success btn-lg submitBtn submission_form" type="submit" value="Submit" /> <br>
        <%end%>

        </div>
    </div>
    
</div>


<!-- ##########################################JAVACRIPT########################################## -->
<script>

$(document).ready(function() {
    //Hide contact on load
    $("#contact, #footer").hide();
    $("#address, #battery, #column, #elevator").hide();
});
</script>

<script>
// Customer
$("#address").prop("disabled", true); // second dropdown is disable while first dropdown is empty
$("#customer").change(function(){
  	var customer_id = $(this).val();
  	if(customer_id == ''){
          $("#address").prop("disabled", true);
  	}else{
          $("#address").prop("disabled", false);
            $("#address").show();
  	}
    $.ajax({
	    url: "/intervention/addresses",
	    method: "GET",  
	    dataType: "json",
	    data: {customer_id: customer_id},
	    error: function (xhr, status, error) {
	      	console.error('AJAX Error: ' + status + error);
	    },
	    success: function (response) {
	      	console.log(response);
	      	var address = response["address"];
	      	$("#address").empty();

	      	$("#address").append('<option>Select address</option>');
	      	for(var i = 0; i < address.length; i++){
	      		$("#address").append('<option value="' + address[i]["id"] + '">' + address[i]["street_number_name"] + " " + address[i]["city"] + " " + address[i]["state_province"] + '</option>');
	      	}
	    }
  	});
});
</script>

<script>
// Battery
$("#battery").prop("disabled", true); // second dropdown is disable while first dropdown is empty
$("#address").change(function(){
  	var building_address = $(this).val();
    if(building_address == ''){
          $("#battery").prop("disabled", true);
  	}else{
          $("#battery").prop("disabled", false);
            $("#battery").show();
      }
          $.ajax({
	    url: "/intervention/batteries",
	    method: "GET",  
	    dataType: "json",
	    data: {building_address: building_address},
	    error: function (xhr, status, error) {
	      	console.error('AJAX Error: ' + status + error);
	    },
	    success: function (response) {
	      	console.log(response);
	      	var battery = response["battery"];
	      	$("#battery").empty();

              $("#battery").append('<option>Select battery</option>');
	      	for(var i = 0; i < battery.length; i++){
	      		$("#battery").append('<option value="' + battery[i]["id"] + '"> Battery ' + battery[i]["id"] + '</option>');
	      	}
	    }
  	});
});
</script>

<script>
// Column
$("#column").prop("disabled", true); // second dropdown is disable while first dropdown is empty
$("#battery").change(function(){
  	var battery_id = $(this).val();
    if(battery_id == ''){
          $("#column").prop("disabled", true);
  	}else{
          $("#column").prop("disabled", false);
            $("#column").show();
      }
          $.ajax({
	    url: "/intervention/columns",
	    method: "GET",  
	    dataType: "json",
	    data: {battery_id: battery_id},
	    error: function (xhr, status, error) {
	      	console.error('AJAX Error: ' + status + error);
	    },
	    success: function (response) {
	      	console.log(response);
	      	var column = response["column"];
	      	$("#column").empty();

              $("#column").append('<option>Select column</option>');
	      	for(var i = 0; i < column.length; i++){
                // console.log(column);
	      		$("#column").append('<option value="' + column[i]["id"] + '"> Column ' + column[i]["id"] + '</option>');
	      	}
	    }
  	});
});
</script>

<script>
// Elevator
$("#elevator").prop("disabled", true); // second dropdown is disable while first dropdown is empty
$("#column").change(function(){
  	var column_id = $(this).val();
    if(column_id == ''){
          $("#elevator").prop("disabled", true);
  	}else{
          $("#elevator").prop("disabled", false);
            $("#elevator").show();
      }
          $.ajax({
	    url: "/intervention/elevators",
	    method: "GET",  
	    dataType: "json",
	    data: {column_id: column_id},
	    error: function (xhr, status, error) {
	      	console.error('AJAX Error: ' + status + error);
	    },
	    success: function (response) {
	      	console.log(response);
	      	var elevator = response["elevator"];
	      	$("#elevator").empty();

              $("#elevator").append('<option>Select elevator</option>');
	      	for(var i = 0; i < elevator.length; i++){
                // console.log(elevator);
	      		$("#elevator").append('<option value="' + elevator[i]["id"] + '"> Elevator ' + elevator[i]["id"] + " - " + elevator[i]["model"] + '</option>');
	      	}
	    }
  	});
});
</script>

<script>
// Elevator Id 
$("#elevator").change(function(){
  	var elevator_id = $(this).val();
    $.ajax({
	    url: "/intervention/elevator_id",
	    method: "GET",  
	    dataType: "json",
	    data: {elevator_id: elevator_id},
	    error: function (xhr, status, error) {
	      	console.error('AJAX Error: ' + status + error);
	    },
	    success: function (response) {
              console.log(response);
        }
    });
});
</script>

<script>
// Employee Id 
$("#employee").change(function(){
  	var employee_id = $(this).val();
    $.ajax({
	    url: "/intervention/employee_id",
	    method: "GET",  
	    dataType: "json",
	    data: {employee_id: employee_id},
	    error: function (xhr, status, error) {
	      	console.error('AJAX Error: ' + status + error);
	    },
	    success: function (response) {
              console.log(response);
        }
    });
});
</script>

<script>
// Employee Id 
$("#description").change(function(){
  	var description = $(this).val();
    $.ajax({
	    url: "/intervention/description",
	    method: "GET",  
	    dataType: "json",
	    data: {description: description},
	    error: function (xhr, status, error) {
	      	console.error('AJAX Error: ' + status + error);
	    },
	    success: function (response) {
              console.log(response);
        }
    });
});
</script>
